<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties"/>
    <typeAliases>
        <typeAlias type="com.solvd.mavenUberCarService.myBatis.models.Location" alias="Location"/>
        <typeAlias type="com.solvd.mavenUberCarService.myBatis.models.UserList" alias="UserList"/>
        <typeAlias type="com.solvd.mavenUberCarService.myBatis.models.User" alias="User"/>
        <typeAlias type="com.solvd.mavenUberCarService.myBatis.models.Ride" alias="Ride"/>

    </typeAliases>

    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${user}"/>
                <property name="password" value="${pass}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mappers/LocationMapper.xml"/>
        <mapper resource="mappers/RideMapper.xml"/>
        <mapper resource="mappers/UserMapper.xml"/>
        <mapper resource="mappers/UserListMapper.xml"/>

    </mappers>

</configuration>